body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board{
    height: 180px;
    width: 210px;
    margin: auto;
    margin-top: 20px;

    background-color: blue;
    border: 10px solid navy;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    height: 20px;
    width: 20px;
    margin: 2.5px;

    background-color: white;
    border-radius: 50%;
    border: 2.5px solid navy;
}

.red-piece{
    background-color: yellow;
    
}

.yellow-piece{
    background-color: red;
}

.redWinsRestart{
    display: inline;
    margin-bottom: 10;
    padding: 10;
    background-color: blue;
    color: red;
    border-radius: 25px;
}

.yellowWinsRestart{
    display: inline;
    margin-bottom: 10;
    padding: 10;
    background-color: blue;
    color: yellow;
    border-radius: 25px;
}

.startButton{
    display: inline;
    margin-bottom: 10;
    padding: 10;
    background-color: blue;
    color: white;
    border-radius: 25px;
}