a{
    text-decoration: none;
    color: red;
}

h1{
    text-align: center;
    color: blue;
}
#button{
    text-align: center;
    float: left;
}
#button button{
    display: block;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 300px;
    margin-left: -160px;
    padding: 10;
    font-size: 72;
    background-color: blue;
    color: red;
    border-radius: 25px;
    
}

#button button:hover{
    display: block;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 300px;
    margin-left: -160px;
    padding: 10;
    font-size: 72;
    background-color: blue;
    color: red;
    border-radius: 25px;
    border: 5px solid red;
    
}

#colorSelect{
    display: inline;
    margin: auto;
    width: 100%;
    margin-top: 350px;
    text-align: center;
    float: left;
    list-style: none;
}

nav{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #666;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}
nav input{ display: none; }
nav label{
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
}
nav label:last-of-type{ border-right: 0; }
nav label:hover{
    background: #eee;
}
nav input:checked + label[for = red]{
    background: red;
}
nav input:checked + label[for = yellow]{
    background: yellow;
}



